@use "./base.scss";
@use "./themes";

// MathJax 수식 스크롤 및 중앙 정렬
article {
  > mjx-container.MathJax,
  blockquote > div > mjx-container.MathJax {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    min-width: 0 !important;
    max-width: 100% !important;
    > svg {
      flex-shrink: 0 !important;
    }
  }
}

