@use "./base.scss";
@use "./themes";

// MathJax 수식 스크롤 및 중앙 정렬
article {
  > mjx-container.MathJax,
  blockquote > div > mjx-container.MathJax {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    min-width: 0 !important;
    max-width: 100% !important;
    > svg {
      flex-shrink: 0 !important;
    }
  }
}

.table-container {
  width: 100% !important;
  margin: 0 auto !important;
  text-align: center !important;
  
  & > table {
    margin: 1rem auto !important;
    width: 100% !important;
    
    th {
      text-align: center !important;
    }
  }
}
// Default header margin
article h1 {
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

article h2 {
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

article h3 {
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

article h4,
article h5,
article h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

body .tikzjax-svg text[font-family="cmb10"] { font-family: 'cmb10' !important; }
body .tikzjax-svg text[font-family="cmbsy10"] { font-family: 'cmbsy10' !important; }
body .tikzjax-svg text[font-family="cmbsy6"] { font-family: 'cmbsy6' !important; }
body .tikzjax-svg text[font-family="cmbsy7"] { font-family: 'cmbsy7' !important; }
body .tikzjax-svg text[font-family="cmbsy8"] { font-family: 'cmbsy8' !important; }
body .tikzjax-svg text[font-family="cmbsy9"] { font-family: 'cmbsy9' !important; }
body .tikzjax-svg text[font-family="cmbx10"] { font-family: 'cmbx10' !important; }
body .tikzjax-svg text[font-family="cmbx12"] { font-family: 'cmbx12' !important; }
body .tikzjax-svg text[font-family="cmbx5"] { font-family: 'cmbx5' !important; }
body .tikzjax-svg text[font-family="cmbx6"] { font-family: 'cmbx6' !important; }
body .tikzjax-svg text[font-family="cmbx7"] { font-family: 'cmbx7' !important; }
body .tikzjax-svg text[font-family="cmbx8"] { font-family: 'cmbx8' !important; }
body .tikzjax-svg text[font-family="cmbx9"] { font-family: 'cmbx9' !important; }
body .tikzjax-svg text[font-family="cmbxsl10"] { font-family: 'cmbxsl10' !important; }
body .tikzjax-svg text[font-family="cmbxti10"] { font-family: 'cmbxti10' !important; }
body .tikzjax-svg text[font-family="cmcsc10"] { font-family: 'cmcsc10' !important; }
body .tikzjax-svg text[font-family="cmcsc8"] { font-family: 'cmcsc8' !important; }
body .tikzjax-svg text[font-family="cmcsc9"] { font-family: 'cmcsc9' !important; }
body .tikzjax-svg text[font-family="cmdunh10"] { font-family: 'cmdunh10' !important; }
body .tikzjax-svg text[font-family="cmex10"] { font-family: 'cmex10' !important; }
body .tikzjax-svg text[font-family="cmex7"] { font-family: 'cmex7' !important; }
body .tikzjax-svg text[font-family="cmex8"] { font-family: 'cmex8' !important; }
body .tikzjax-svg text[font-family="cmex9"] { font-family: 'cmex9' !important; }
body .tikzjax-svg text[font-family="cmff10"] { font-family: 'cmff10' !important; }
body .tikzjax-svg text[font-family="cmfi10"] { font-family: 'cmfi10' !important; }
body .tikzjax-svg text[font-family="cmfib8"] { font-family: 'cmfib8' !important; }
body .tikzjax-svg text[font-family="cminch"] { font-family: 'cminch' !important; }
body .tikzjax-svg text[font-family="cmitt10"] { font-family: 'cmitt10' !important; }
body .tikzjax-svg text[font-family="cmmi10"] { font-family: 'cmmi10' !important; }
body .tikzjax-svg text[font-family="cmmi12"] { font-family: 'cmmi12' !important; }
body .tikzjax-svg text[font-family="cmmi5"] { font-family: 'cmmi5' !important; }
body .tikzjax-svg text[font-family="cmmi6"] { font-family: 'cmmi6' !important; }
body .tikzjax-svg text[font-family="cmmi7"] { font-family: 'cmmi7' !important; }
body .tikzjax-svg text[font-family="cmmi8"] { font-family: 'cmmi8' !important; }
body .tikzjax-svg text[font-family="cmmi9"] { font-family: 'cmmi9' !important; }
body .tikzjax-svg text[font-family="cmmib10"] { font-family: 'cmmib10' !important; }
body .tikzjax-svg text[font-family="cmmib6"] { font-family: 'cmmib6' !important; }
body .tikzjax-svg text[font-family="cmmib7"] { font-family: 'cmmib7' !important; }
body .tikzjax-svg text[font-family="cmmib8"] { font-family: 'cmmib8' !important; }
body .tikzjax-svg text[font-family="cmmib9"] { font-family: 'cmmib9' !important; }
body .tikzjax-svg text[font-family="cmr10"] { font-family: 'cmr10' !important; }
body .tikzjax-svg text[font-family="cmr12"] { font-family: 'cmr12' !important; }
body .tikzjax-svg text[font-family="cmr17"] { font-family: 'cmr17' !important; }
body .tikzjax-svg text[font-family="cmr5"] { font-family: 'cmr5' !important; }
body .tikzjax-svg text[font-family="cmr6"] { font-family: 'cmr6' !important; }
body .tikzjax-svg text[font-family="cmr7"] { font-family: 'cmr7' !important; }
body .tikzjax-svg text[font-family="cmr8"] { font-family: 'cmr8' !important; }
body .tikzjax-svg text[font-family="cmr9"] { font-family: 'cmr9' !important; }
body .tikzjax-svg text[font-family="cmsl10"] { font-family: 'cmsl10' !important; }
body .tikzjax-svg text[font-family="cmsl12"] { font-family: 'cmsl12' !important; }
body .tikzjax-svg text[font-family="cmsl8"] { font-family: 'cmsl8' !important; }
body .tikzjax-svg text[font-family="cmsl9"] { font-family: 'cmsl9' !important; }
body .tikzjax-svg text[font-family="cmsltt10"] { font-family: 'cmsltt10' !important; }
body .tikzjax-svg text[font-family="cmss10"] { font-family: 'cmss10' !important; }
body .tikzjax-svg text[font-family="cmss12"] { font-family: 'cmss12' !important; }
body .tikzjax-svg text[font-family="cmss17"] { font-family: 'cmss17' !important; }
body .tikzjax-svg text[font-family="cmss8"] { font-family: 'cmss8' !important; }
body .tikzjax-svg text[font-family="cmss9"] { font-family: 'cmss9' !important; }
body .tikzjax-svg text[font-family="cmssbx10"] { font-family: 'cmssbx10' !important; }
body .tikzjax-svg text[font-family="cmssdc10"] { font-family: 'cmssdc10' !important; }
body .tikzjax-svg text[font-family="cmssi10"] { font-family: 'cmssi10' !important; }
body .tikzjax-svg text[font-family="cmssi12"] { font-family: 'cmssi12' !important; }
body .tikzjax-svg text[font-family="cmssi17"] { font-family: 'cmssi17' !important; }
body .tikzjax-svg text[font-family="cmssi8"] { font-family: 'cmssi8' !important; }
body .tikzjax-svg text[font-family="cmssi9"] { font-family: 'cmssi9' !important; }
body .tikzjax-svg text[font-family="cmssq8"] { font-family: 'cmssq8' !important; }
body .tikzjax-svg text[font-family="cmssqi8"] { font-family: 'cmssqi8' !important; }
body .tikzjax-svg text[font-family="cmsy10"] { font-family: 'cmsy10' !important; }
body .tikzjax-svg text[font-family="cmsy5"] { font-family: 'cmsy5' !important; }
body .tikzjax-svg text[font-family="cmsy6"] { font-family: 'cmsy6' !important; }
body .tikzjax-svg text[font-family="cmsy7"] { font-family: 'cmsy7' !important; }
body .tikzjax-svg text[font-family="cmsy8"] { font-family: 'cmsy8' !important; }
body .tikzjax-svg text[font-family="cmsy9"] { font-family: 'cmsy9' !important; }
body .tikzjax-svg text[font-family="cmtcsc10"] { font-family: 'cmtcsc10' !important; }
body .tikzjax-svg text[font-family="cmtex10"] { font-family: 'cmtex10' !important; }
body .tikzjax-svg text[font-family="cmtex8"] { font-family: 'cmtex8' !important; }
body .tikzjax-svg text[font-family="cmtex9"] { font-family: 'cmtex9' !important; }
body .tikzjax-svg text[font-family="cmti10"] { font-family: 'cmti10' !important; }
body .tikzjax-svg text[font-family="cmti12"] { font-family: 'cmti12' !important; }
body .tikzjax-svg text[font-family="cmti7"] { font-family: 'cmti7' !important; }
body .tikzjax-svg text[font-family="cmti8"] { font-family: 'cmti8' !important; }
body .tikzjax-svg text[font-family="cmti9"] { font-family: 'cmti9' !important; }
body .tikzjax-svg text[font-family="cmtt10"] { font-family: 'cmtt10' !important; }
body .tikzjax-svg text[font-family="cmtt12"] { font-family: 'cmtt12' !important; }
body .tikzjax-svg text[font-family="cmtt8"] { font-family: 'cmtt8' !important; }
body .tikzjax-svg text[font-family="cmtt9"] { font-family: 'cmtt9' !important; }
body .tikzjax-svg text[font-family="cmu10"] { font-family: 'cmu10' !important; }
body .tikzjax-svg text[font-family="cmvtt10"] { font-family: 'cmvtt10' !important; }
body .tikzjax-svg text[font-family="euex10"] { font-family: 'euex10' !important; }
body .tikzjax-svg text[font-family="euex7"] { font-family: 'euex7' !important; }
body .tikzjax-svg text[font-family="euex8"] { font-family: 'euex8' !important; }
body .tikzjax-svg text[font-family="euex9"] { font-family: 'euex9' !important; }
body .tikzjax-svg text[font-family="eufb10"] { font-family: 'eufb10' !important; }
body .tikzjax-svg text[font-family="eufb5"] { font-family: 'eufb5' !important; }
body .tikzjax-svg text[font-family="eufb6"] { font-family: 'eufb6' !important; }
body .tikzjax-svg text[font-family="eufb7"] { font-family: 'eufb7' !important; }
body .tikzjax-svg text[font-family="eufb8"] { font-family: 'eufb8' !important; }
body .tikzjax-svg text[font-family="eufb9"] { font-family: 'eufb9' !important; }
body .tikzjax-svg text[font-family="eufm10"] { font-family: 'eufm10' !important; }
body .tikzjax-svg text[font-family="eufm5"] { font-family: 'eufm5' !important; }
body .tikzjax-svg text[font-family="eufm6"] { font-family: 'eufm6' !important; }
body .tikzjax-svg text[font-family="eufm7"] { font-family: 'eufm7' !important; }
body .tikzjax-svg text[font-family="eufm8"] { font-family: 'eufm8' !important; }
body .tikzjax-svg text[font-family="eufm9"] { font-family: 'eufm9' !important; }
body .tikzjax-svg text[font-family="eurb10"] { font-family: 'eurb10' !important; }
body .tikzjax-svg text[font-family="eurb5"] { font-family: 'eurb5' !important; }
body .tikzjax-svg text[font-family="eurb6"] { font-family: 'eurb6' !important; }
body .tikzjax-svg text[font-family="eurb7"] { font-family: 'eurb7' !important; }
body .tikzjax-svg text[font-family="eurb8"] { font-family: 'eurb8' !important; }
body .tikzjax-svg text[font-family="eurb9"] { font-family: 'eurb9' !important; }
body .tikzjax-svg text[font-family="eurm10"] { font-family: 'eurm10' !important; }
body .tikzjax-svg text[font-family="eurm5"] { font-family: 'eurm5' !important; }
body .tikzjax-svg text[font-family="eurm6"] { font-family: 'eurm6' !important; }
body .tikzjax-svg text[font-family="eurm7"] { font-family: 'eurm7' !important; }
body .tikzjax-svg text[font-family="eurm8"] { font-family: 'eurm8' !important; }
body .tikzjax-svg text[font-family="eurm9"] { font-family: 'eurm9' !important; }
body .tikzjax-svg text[font-family="eusb10"] { font-family: 'eusb10' !important; }
body .tikzjax-svg text[font-family="eusb5"] { font-family: 'eusb5' !important; }
body .tikzjax-svg text[font-family="eusb6"] { font-family: 'eusb6' !important; }
body .tikzjax-svg text[font-family="eusb7"] { font-family: 'eusb7' !important; }
body .tikzjax-svg text[font-family="eusb8"] { font-family: 'eusb8' !important; }
body .tikzjax-svg text[font-family="eusb9"] { font-family: 'eusb9' !important; }
body .tikzjax-svg text[font-family="eusm10"] { font-family: 'eusm10' !important; }
body .tikzjax-svg text[font-family="eusm5"] { font-family: 'eusm5' !important; }
body .tikzjax-svg text[font-family="eusm6"] { font-family: 'eusm6' !important; }
body .tikzjax-svg text[font-family="eusm7"] { font-family: 'eusm7' !important; }
body .tikzjax-svg text[font-family="eusm8"] { font-family: 'eusm8' !important; }
body .tikzjax-svg text[font-family="eusm9"] { font-family: 'eusm9' !important; }
body .tikzjax-svg text[font-family="msam10"] { font-family: 'msam10' !important; }
body .tikzjax-svg text[font-family="msam5"] { font-family: 'msam5' !important; }
body .tikzjax-svg text[font-family="msam6"] { font-family: 'msam6' !important; }
body .tikzjax-svg text[font-family="msam7"] { font-family: 'msam7' !important; }
body .tikzjax-svg text[font-family="msam8"] { font-family: 'msam8' !important; }
body .tikzjax-svg text[font-family="msam9"] { font-family: 'msam9' !important; }
body .tikzjax-svg text[font-family="msbm10"] { font-family: 'msbm10' !important; }
body .tikzjax-svg text[font-family="msbm5"] { font-family: 'msbm5' !important; }
body .tikzjax-svg text[font-family="msbm6"] { font-family: 'msbm6' !important; }
body .tikzjax-svg text[font-family="msbm7"] { font-family: 'msbm7' !important; }
body .tikzjax-svg text[font-family="msbm8"] { font-family: 'msbm8' !important; }
body .tikzjax-svg text[font-family="msbm9"] { font-family: 'msbm9' !important; }
